@font-face {
  font-family: myFont;
  src: url("./assets/fonts/HankenGrotesk-VariableFont_wght.ttf");
}

@font-face {
  font-family: myFont;
  src: url("./assets/fonts/static/HankenGrotesk-Medium.ttf");
  font-weight: 400;
}

@font-face {
  font-family: myFont;
  src: url("./assets/fonts/static/HankenGrotesk-ExtraBold.ttf");
  font-weight: 900;
}

@font-face {
  font-family: myFont;
  src: url("./assets/fonts/static/HankenGrotesk-Bold.ttf");
  font-weight: 600;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: myFont;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  text-align: center;
  width: 70%;
  margin: auto;
}

.left-part {
  background: rgb(101, 65, 253);
  background: linear-gradient(
    180deg,
    rgba(101, 65, 253, 1) 0%,
    rgba(78, 56, 245, 1) 50%,
    rgba(49, 44, 234, 1) 100%
  );
  color: #fff;
  border-radius: 0 0 2rem 2rem;
}

.left-part h4 {
  color: #aeadad;
  padding: 1rem 0;
  font-size: 18px;
}

.left-part .result {
  background: rgb(75, 36, 205);
  background: linear-gradient(
    180deg,
    rgba(75, 36, 205, 1) 0%,
    rgba(69, 44, 223, 1) 50%,
    rgba(70, 51, 239, 1) 100%
  );
  width: 150px;
  height: 150px;
  margin: auto;
  border-radius: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.left-part .result h2 {
  font-size: 54px;
}

.left-part .result small {
  color: #aeadad;
}

.left-part h3 {
  padding-top: 2rem;
}

.left-part p {
  color: #aeadad;
  padding: 1rem 3rem 3rem 3rem;
}

.right-part h4 {
  text-align: left;
  padding: 2rem;
}

.right-part ul {
  list-style: none;
}

.right-part ul li {
  display: flex;
  justify-content: space-between;
  width: 75%;
  margin: auto;
  padding-bottom: 3rem;
  font-weight: bold;
}

.right-part ul li p {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.right-part ul li i {
  margin-right: 0.7rem;
}

.right-part ul li p span {
  color: #7b7a7a;
}

.right-part button {
  font-family: myFont;
  border: none;
  background-color: #303b59;
  color: #fff;
  font-size: 1rem;
  padding: 1rem 8.5rem;
  border-radius: 2rem;
  margin-bottom: 2rem;
  cursor: pointer;
}

.attribution {
  margin: 1rem;
  font-size: 8px;
}

.attribution a {
  text-decoration: none;
}

@media screen and (min-width: 756px) {
  body {
    height: 100vh;
  }
  .container {
    display: flex;
    gap: 2rem;
  }
  .left-part {
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .right-part button {
    margin-bottom: 3rem;
  }
  .attribution {
    margin: 2rem;
    font-size: 8px;
  } 
}
